.img1 {
  display: flex;
  gap: 2%;
  margin-bottom: 2%;
}
.img1 .imgitem {
  width: 100%;
}
.img2 {
  display: flex;
  gap: 2%;
}
.img2 .imgitem {
  width: 100%;
}
.imgitem:hover {
  opacity: 0.6;
}
